@import './base.css';

/* 全体レイアウト */
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  color: #333;  
  margin: 0 auto;
  padding: 0;
  display: block;
  place-items: center;
}

/* メインコンテンツ */
main {
  flex: 1;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ヘッダー */
header {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 1024px) {
  #app {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  #app {
    max-width: 95%;
    padding: 1rem;
  }
}
